.container {
    max-width: max-content;
    margin: auto;
    font-family: Roboto, bold;
    background-color: #202020;
    color: floralwhite;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #202020;;
  }
  